<header>
  <div style=" background: url() ; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100vh;
        color: #fff;
        text-align: center;
        font-family: 'Roboto'">
    <img src="https://i.imgur.com/VsM2haI.png" style="height: 250px; margin-top: 50px;">
      <p style="margin-top:30px; color: green; font-size: 50px;">GitHub Gardener</p>
      <p style="margin-bottom:30px; color: #696969; font-size: 18px;">Daily automated commits that magically turn your GitHub green</p>
      <a href="/developers/sign_up" class="btn" style="border-radius: 10px; border-color: #424242; color: black; text-decoration: none; padding:10px; font-size: 16px; margin-right:10px;"><span class="glyphicon glyphicon-eye-open"></span> View Code on GitHub</a>
      <a href="/signup" style="border-radius: 10px; color: white; text-decoration: none; padding:10px; font-size: 16px;" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> Sign Up with GitHub</a>
      
  </div>

</header>
<div id="hey">
  <p>Hi</p>
</div>
